SECRET_KEY=change-this-to-a-long-random-value
SUPERADMIN_PASSWORD=change-this-admin-password
EDITOR_PASSWORD=change-this-editor-password
USER_PASSWORD=change-this-common-user-password
DATABASE_PATH=instance/scgpc_lab.db
